.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.file-inputs {
  margin: 20px 0;
}

input[type="file"] {
  margin: 0 10px;
}

/* Стилі для ReactDiffViewer */
.diff-viewer {
  text-align: left;
  white-space: pre-wrap;
}

.diff-viewer .diff-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diff-viewer .diff-pane {
  width: 50%;
  padding: 10px;
}

.diff-viewer .diff-line {
  white-space: pre-wrap;
}
